<h1>First Pirate: <%= @pirates.first.name %></h1>
<ul>
  <li>Height: <%= @pirates.first.height %></li>
  <li>Weight: <%= @pirates.first.weight %></li>
</ul>
<h2>First Ship: <%= @ships.first.name %></h2>


<h2>Second Ship: <%= @ships[1].name %></h2>
